@import "~common/stylus/variable" 
@import "~common/stylus/mixin"

.svg-transform-wrapper
  wh(100%,200px);bgColor(#eee);@extend .rp;display:flex;flex-wrap: wrap;
  
  .sbox-item
    wh(300px,auto);bgColor(yellow);@extend .rp;box-sizing:border-box;overflow:hidden;margin-left:10px;
    .sbox
      wh(100%,0);padding-top:66%;@extend .rp;
      .sbox-svg
        ab(0,0);wh(100%,100%);
      
        .motion-box
          wh(100%,100%);
          .mbox-img
            wh(100%,100%);ab(0,0);
          .chess-box
            wh(100%,100%);@extend .rp;overflow:hidden;
            .cb-row-box
              abs();left:0;
            .cb-box
              abs();box-sizing:border-box;background-repeat:no-repeat;    

  .sbox-item-active
    border:2px solid red;
    

      
  
        



